@import "colors";
@import "mixins";

.intro {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.menu {
  padding: 20px;
  position: relative;
  top: -50px;
  background-color: $grey_card;
  box-sizing: border-box;
  border-radius: 30px 30px 0px 0px;

  .intro_legend {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    h1 {
      font-family: "Shrikhand", cursive;
      font-weight: 200;
      margin: 0;
    }
    .fa-heart {
      align-self: center;
    }
  }
}

.menu_container{

    h2{
        font-size: 16px;
        font-weight: 400;
        margin: 5px 0px;
        margin-top: 20px;
    }
    .line{
        display: block;
        border-bottom: 3px solid $tertiary;
        width: 30px;
        margin: 0;
    }
}

.entree {
  margin: 20px 0px;
  @include menu_card;
  animation: display_card cubic-bezier(0.83, 0.02, 0.36, 1) .30s 1s both;
}
.plats {
  margin: 20px 0px;
  @include menu_card;
  animation: display_card cubic-bezier(0.83, 0.02, 0.36, 1) 1s 1s both;

}
.dessert {
  margin: 20px 0px;
  @include menu_card;
  animation: display_card cubic-bezier(0.83, 0.02, 0.36, 1) 1.3s 1s both;

}


.menu button{
    @include btn;
    padding: 10px 40px;
    display: flex;
    margin: auto;
    margin-top: 40px;
}
