@import "colors";
@import "mixins";

* {
  font-family: "roboto";
  text-decoration: none;
  color: black;
}

body {
  margin: 0%;
}


header {
  display: flex;
  width: 100%;
  justify-content: center;
  a {
    margin: 0;
    padding: 0;
  }
  img {
    height: 25px;
    margin: 10px;
    margin-top: 25px;
  }
}

.find_container {
  display: flex;
  flex-direction: column;

  &_local {
    display: flex;
    justify-content: center;
    background-color: $grey_pos;
    box-shadow: inset 0px 2px 2px rgb(190, 190, 190);
    i {
      align-self: center;
    }
    p {
      margin: 15px;
      font-weight: 500;
    }
  }

  &_reserve {
    margin: auto;

    background-color: $grey_card;
    text-align: center;

    &_title {
      width: 100%;
      margin: auto;
      h1 {
        margin: auto;
        padding-top: 30px;
        // border: 1px solid black;
        width: 70%;
      }
      h3 {
        margin: auto;
        padding: 15px;
        width: 90%;
        font-weight: 300;
      }
    }
    button {
      @include btn font-size: 1em;
      width: 210px;
      height: 50px;
      margin: 20px;
      margin-bottom: 50px;
    }
  }
}

.use_container {
  margin: 20px;

  &_card_template {
    @include use_card;
    display: flex;
    margin: 20px 0px;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 1em;

    .number {
      position: absolute;
      background-color: $primary;
      color: $grey_card;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      left: 10px;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    }

    .fas {
      width: 30px;
      margin-left: 30px;
      margin-right: 20px;
      color: grey;
      font-size: 20px;
      text-align: center;
    }
  }
}

.resto {
  object-fit: cover;
  background-color: $grey_card;
  margin-bottom: 50px;
  &_container {
    &_card {
      @include resto_card;
      margin: 20px;
      height: 230px;

      img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }

      .legend{
        width: 50%;
        height: 30%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 0px 10px;

        .fa-heart{
          align-self: flex-end;
          font-size: 30px;
        }
      }
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-bottom: 30px;

  svg{
    margin: 20px;
    width: 30%;
  }

  .footer_ico{
    margin: 0px 0px 5px 20px;

    .fas{
      color: white;
      width: 10px;
    }
  }
  a{
    margin: 0px 0px 5px 20px;
    color: white;
  }
}
