@import "colors";
@import "mixins";
@import "header";
@import "menu";

@include full_page;

header {
  @include header_main;
}

.find_container {
  display: flex;
  flex-direction: column;

  &_local {
    display: flex;
    justify-content: center;
    background-color: $grey_pos;
    box-shadow: inset 0px 2px 2px rgb(190, 190, 190);
    i {
      align-self: center;
    }
    p {
      margin: 15px;
      font-weight: 500;
    }
  }

  &_reserve {
    margin: auto;

    background-color: $grey_card;
    text-align: center;

    &_title {
      width: 100%;
      margin: auto;
      h1 {
        margin: auto;
        padding-top: 30px;
        width: 70%;
      }
      p {
        margin: auto;
        padding: 15px;
        width: 90%;
        font-weight: 300;
      }
    }
    button {
      @include btn;
      font-size: 1em;
      width: 210px;
      height: 50px;
      margin: 20px;
      margin-bottom: 50px;
    }
  }
}

.use_container {
  margin: 20px;

  &_card_template {
    @include use_card;
    display: flex;
    margin: 20px 0px;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 1em;

    .number {
      position: absolute;
      background-color: $primary;
      color: $grey_card;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      left: 10px;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    }

    .fas {
      width: 30px;
      margin-left: 30px;
      margin-right: 20px;
      color: grey;
      font-size: 20px;
      text-align: center;
    }
  }
}

.resto {
  position: relative;
  object-fit: cover;
  background-color: $grey_card;
  margin-bottom: 50px;
  h2 {
    padding: 20px;
    margin: 0%;
  }

  .loading_animation {
    display: block;
    width: 50px;
    height: 50px;
    animation: display_load 2s both;
    // animation-timing-function: cubic-bezier(1,0,1,0) ;
    position: absolute;
    top: -5px;
    left: 140px;
    .circle {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      margin: 24px;
      border: 1px solid $primary;
      border-radius: 50%;
      animation: loading 2s infinite;
      animation-delay: 0.15s;
      border-color: $secondary transparent $secondary transparent;
    }
    .line {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin: 32px;
      border: 2px solid $primary;
      border-radius: 50%;
      animation: loading 1.5s infinite reverse;
      border-color: $secondary $primary $secondary $primary;
    }
  }
  &_container {
    display: block;

    &_card {
      animation: display_card cubic-bezier(0.83, 0.02, 0.36, 1) 1s both;
      @include resto_card;

      position: relative;
      margin: 20px;
      height: 230px;
      &:nth-child(1) {
        animation-delay: 1s;
      }
      &:nth-child(2) {
        animation-delay: 1.15s;
      }
      &:nth-child(3) {
        animation-delay: 1.3s;
      }
      &:nth-child(4) {
        animation-delay: 1.45s;
      }

      img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }

      .legend {
        width: 50%;
        height: 30%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 0px 10px;

        span {
          margin-bottom: 5px;
        }
        .name {
          font-weight: bold;
        }
      }

      .fa-heart {
        @include heart_logo;

        &:hover {
          animation: anim_test 2s both;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-bottom: 30px;

  h2 {
    font-family: "Shrikhand", cursive;
    color: #fff;
    font-weight: 100;
    margin: 20px;
  }

  .footer_ico {
    margin: 0px 0px 5px 20px;

    .fas {
      color: white;
      width: 10px;
    }
  }
  a {
    margin: 0px 0px 5px 20px;
    color: white;
  }
}
